@media screen and (max-width: 779px){
    .header {
        text-align: center;
        background: #1abc9c;
        color: white;
        font-size: 30px;
        padding: 30px;
    }

    .navigation {
        min-width: 100%;
    }
    .navigation a {
        float: left;
        text-align: center;
        top: 0;
        left: 0 !important;
        width: 20%;
    }
}